# Compiled Files
*.vo
*.vos
*.vok
*.glob
*.aux
*.v.d
\#*
*~
*.idx
*.out
*.log
*.idx
*.snm
*.pygtex
*.pygstyle
! /src/html/index.html
/latex/*.pdf
/latex/*.toc
html/
.lia.cache
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
