# Compiled Files
*.vo
*.vos
*.vok
*.glob
*.aux
*.v.d
\#*
*~
*.idx
*.out
*.log
*.idx
*.aux
*.snm
*.pygtex
*.pygstyle
theories/html/
.lia.cache
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
bigfib.ml
bigfib.mli
bigmod.ml
bigmod.mli
_build/
coqdoc.sty
.DS_Store
doc/*.json
doc/cutting-table/
doc/auto/
doc/*.pyg
doc/movies/snippets/
doc/movies/targets.mk
__pycache__
alectryon-html/
.envrc
/theories/ordinals/*/*.tex
/theories/ordinals/*/*.pdf
/theories/goedel/*.pdf
/theories/gaia/*.tex
/theories/gaia/*.pdf
/doc/JFLA2022/Slides/*.png
/doc/JFLA2022/assets
/litterature
*.sty
*.nav
*.vrb


